<!DOCTYPE html>
<html>
<head>
  <title>GetLinkList</title>
  <%= stylesheet_link_tag    "get_link_list/application", media: "all" %>
  <%= javascript_include_tag "get_link_list/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
