<div id="get_link_list">
  <ul>
    <% @paths.each do |header,value| %>
      <li>
        <a href="#">
          <%= header %>
        </a>
        <ul>
          <% value.each do | action_name, get_url| %>
            <li>
              <%= link_to action_name, get_url %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
